body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(65, 65, 65);
    color: rgb(212, 212, 212);
}

h1{
    text-align: center;
    color: rgb(211, 87, 87);
    font-size: 48px;
}

img{
    width: 150px;
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline-start: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: white;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.pokecard {
    width: 200px;
    padding: 10px;
    margin: 10px 10px;
    text-align: center;
    background-color: rgb(162, 105, 105);
    border: 2px solid rgb(112, 54, 54);
    border-radius: 10px;
}

.pokemonName{
    color: rgb(212, 212, 212);
}

.pokemonType{
    font-weight: bold;
    color: rgb(223, 223, 223);
}

.searching{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
}